<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Music</title>
    <style>
        ul {
            list-style-type: none;
        }
        li::before {
            display:inline-block;
            width: 1rem;
            height: 1rem;
            margin-right: 0.25rem;
            content:"";
        }
        .open::before, .closed::before {
            background-size: 1rem 1rem;
            position: relative;
            top: 0.25rem;
            opacity: 0.3;
        }
        .open::before {
            background-image: "./sunset.png";
        }
        .closed::before {
            background-image: "sunset.png");
        }
        .closed .closed::before, .closed .open::before {
            display: none;
        }
    </style>
</head>
<body background = "sunset.png">
    <h1 font = "cursive"> Music
      <img src="heart-icon.jpg" width="50px"></img>
    </h1>
    <ul is="expanding-list">
        <li>Electronic
            <ul>
                <li>Trance
                    <ul>
                        <li>Lane 8
                            <ul>
                                <li>Little Voices</li>
                                <li>Visions</li>
                                <li>Ghost Voices Remix</li>
                                <li> Every Night</li>
                            </ul>
                        </li>
                        <li>Jerro
                            <ul>
                                <li>Vrolix</li>
                                <li>Foreign Woods</li>
                                <li>Irene</li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>Trap/Future Bass
                    <ul>
                        <li>Zhu
                            <ul>
                                <li>Hold Up, Wait a Minute</li>
                                <li>Faded</li>
                                <li>Dreams</li>
                                <li>In the Morning</li>
                                <li>Intoxicate</li>
                                <li>Waters of Monaco</li>
                            </ul>
                        </li>
                        <li>Odesza
                            <ul>
                                <li>Late Night</li>
                                <li>Line of Sight</li>
                                <li>Sun Models</li>
                                <li>La Ciudad</li>
                                <li>Above the Middle</li>
                            </ul>
                        </li>
                        <li>RL grime
                            <ul>
                                <li>Atoms</li>
                                <li>Shrine</li>
                                <li>Pressure</li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>House
                    <ul>
                        <li>Ciszak
                            <ul>
                                <li>Vanilla Cream</li>
                                <li>I Want</li>
                                <li>Oops</li>
                                <li>I'm Down</li>
                            </ul>
                        </li>
                      </ul>
                  </li>
            </ul>
        </li>
        <li>Indie/Alt
            <ul>
                <li> The 1975
                  <ul>
                      <li>Menswear</li>
                      <li>TOOTIMETOOTIMETOOTIME</li>
                      <li>I like America and America likes me </li>
                  </ul>
                </li>
                <li>CHVRVHES
                  <ul>
                      <li>Clearest Blue</li>
                      <li>The Mother We Share</li>
                      <li>Recover</li>
                  </ul>
                </li>
              </ul>
          </li>
          <li>Pop
              <ul>
                  <li> LANY
                      <ul>
                          <li> ILYSB </li>
                          <li> Thick and Thin</li>
                      </ul>
                  </li>
                  <li> Quinn XCII
                      <ul>
                          <li>Ful Circle</li>
                          <li>Another Day in Paradise</li>
                          <li>StraighJacket</li>
                          <li>Flare Guns</li>
                      </ul>
                  </li>
              </ul>
          </li>
    </ul>

    <script src="expandingList.js"></script>
</body>
</html>
