<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Music</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>
<body background = "images/background.jpg">
    <h1> ODESZA
      <img src="" width="50px"></img>
      <a href = "photos.handlebars"> PHOTOS </a>

    </h1>
    <ul is="expanding-list">
        <li font-color = "white">A Moment Apart
            <ul>
                <li>Info
                    <ul>
                        <li> Released: September  8, 2017 </li>
                          <li> Features:
                            Leon Bridges, Kelsey Bulkin, The Chamanas,
                            Mansionair, Sasha Sloan, Regina Spektor, Naomi Wild,
                            WYNNE and RY X.
                          </li>
                        </li>
                    </ul>
                </li>
                <li>Songs
                    <ul>
                        <li>Intro</li>
                        <li>A Moment Apart</li>
                        <li>Higher Ground</li>
                        <li>Boy</li>
                        <li>Line Of Sight</li>
                        <li>Late Night</li>
                        <li>Across The Room</li>
                        <li>Meridian</li>
                        <li>Everything At Your Feet</li>
                        <li>Just A Memory</li>
                        <li>Divide</li>
                        <li>Thin Floors And Tall Ceilings</li>
                        <li>La Ciudad</li>
                        <li>Falls</li>
                        <li>Show Me</li>
                        <li>Corners Of The Earth</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>In Return
            <ul>
                <li> Info
                  <ul>
                      <li> Released: September  9, 2014 </li>
                        <li>
                          Features:
                          Alexandra Cheatle, Shy Girls, Dan Vidmar, Jenni Potts,
                          Sean Kusanagi, Zyra, Jade Pybus, Monsoonsiren,
                          Madelyn Grant, Briana Marela
                        </li>
                      </li>
                  </ul>
                </li>
                <li>Songs
                  <ul>
                      <li>Always This Late</li>
                      <li>Say My Name</li>
                      <li>Bloom</li>
                      <li>All We Need</li>
                      <li>Sundara</li>
                      <li>White Lies</li>
                      <li>Kusanagi</li>
                      <li>Echoes</li>
                      <li>It's Only</li>
                      <li>Koto</li>
                      <li>Memories That You Call</li>
                      <li>Sun Models</li>
                      <li>For Us</li>
                  </ul>
                </li>
              </ul>
          </li>
          <li>Summer's Gone
              <ul>
                  <li> Info
                    <ul>
                        <li> Released: September  6, 2012 </li>
                          <li>
                            Features:
                            Cumulus
                          </li>
                        </li>
                    </ul>
                  </li>
                  <li> Songs
                      <ul>
                          <li>Intro</li>
                          <li>How Did I Get Here</li>
                          <li>I Want You</li>
                          <li>Above The Middle</li>
                          <li>We Were Young</li>
                          <li>Today</li>
                          <li>Tuytus</li>
                          <li>Rely</li>
                          <li>Hey Now</li>
                          <li>If You Don't</li>
                          <li>Don't Stop</li>
                          <li>iPlayYouListen</li>
                      </ul>
                  </li>
              </ul>
          </li>
    </ul>
    <script src="javascripts/expandingList.js"></script>
    <br />
    <br />
    <form id="odeszaForm">
      <form id="odeszaForm" method="POST" action="..." onsubmit="myButton.disabled = true; return true;">
      <h3> What is your favorite Odesza Album?</h3>
      <input id="poll1" type="radio" name="website_poll" value="Summers Gone">
      <label for = "poll1" style = "color:white;"> Summer's Gone </label> <br />
      <input id="poll2" type="radio" name="website_poll" value="In Return">
      <label for = "poll2" style = "color:white;"> In Return </label> <br/>
      <input id="poll3" type="radio" name="website_poll" value="A Moment Apart">
      <label for = "poll3" style = "color:white" > A Moment Apart </label> <br/>
      <br/>
      <h3> What is your favorite song? </h3>
      <input type="text" name="favorite" id="favorite">
      <br/>
      <br/>
      <!--<button onClick="this.disabled = true;"> <input type="submit" name = "myButton" onclick="this.disabled=true;">Submit</button>-->
      <input type="submit" name="myButton" value="Submit" id = "myButton" this.disabled=false;>
      </form>
    <script src="https://www.gstatic.com/firebasejs/6.6.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.1.0/firebase-database.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="javascripts/main.js"></script>
</body>
</html>
